<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <style>
        body {
            margin: 0;
        }
        .videoContainer {
            display: flex;
            justify-content: space-around;
        }
        .videoContainer video{
            width: 40%;
            border: 1px solid black;
        }
        .videoContainer canvas{
            width: 40%;
            height: 90%;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="videoContainer">
        <video id="videoElement" controls></video>
        <!-- <video autoplay="true" id="sourceElement"></video> -->
        <!-- <canvas id="sourceElement"></canvas> -->
    </div>
    <!-- <div>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
    </div> -->
    <div class = 'video'>
        <img id="image">
    </div>
    <!-- <script>
        const videoElement = document.getElementById("videoElement");
        const startButton = document.getElementById("start");
        const stopButton = document.getElementById("stop");
        let stream = null;
        async function getMedia(constraints) {
            try {
                stream = await navigator.mediaDevices.getUserMedia(constraints);
                // console.log(stream);
                videoElement.srcObject = stream;
                videoElement.onloadedmetadata = function(e) {
                    videoElement.play();
                    // console.log(e);
                };
                // const can = new canvas();
                // can.seek();  
                // videoElement.addEventListener('')


            /* use the stream */
            } catch(err) {
                /* handle the error */
                console.log(err)
            }
        }
        
        function stop(){
            stream.getTracks().forEach(function(track) {
                track.stop();
            });
        }

        startButton.addEventListener('click', () => {
            getMedia({ audio: false, video: { frameRate: 4 } });
        })
        stopButton.addEventListener('click', stop);


        class canvas {
            constructor(){
                this.video = document.getElementById('videoElement');
                this.source = document.getElementById('sourceElement');
                this.ctx = this.source.getContext("2d");
            }

            seek = () => {
                // this.video.addEventListener('seeked', (e) => {
                //     console.log("hey");
                //     console.log(e);
                // })

                this.time = setInterval(() => {
                    this.ctx1.drawImage(this.video, 0, 0, this.width, this.height);
                    let frame = this.ctx1.getImageData(0, 0, this.width, this.height);
                }, 250);
            }
        }
    </script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
    <script>
        var socket = io();

        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });

        const video = document.querySelector("#videoElement");

        video.width = 500; 
        video.height = 375;

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }

    //     let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    // let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    // let cap = new cv.VideoCapture(video);

    const FPS = 4;
    
    function capture(video, scaleFactor) {
    if(scaleFactor == null){
        scaleFactor = 1;
    }
    var w = video.videoWidth * scaleFactor;
    var h = video.videoHeight * scaleFactor;
    var canvas = document.createElement('canvas');
        canvas.width  = w;
        canvas.height = h;
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, w, h);
    return canvas;
} 

    setInterval(() => {
        // cap.read(src);

        var type = "image/jpg"
        // var data = document.getElementById("canvasOutput").toDataURL(type);
        // data = data.replace('data:' + type + ';base64,', ''); 
        var video_element = document.getElementById("videoElement")
        var frame = capture(video_element, 1)
        // console.log(frame);
        var data = frame.toDataURL(type);
        console.log(data);
        socket.emit('image', data);
    }, 10000/FPS);

    function _arrayBufferToBase64( buffer ) {
        var binary = '';
        var bytes = new Uint8Array( buffer );
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode( bytes[ i ] );
        }
        return window.btoa( binary );
    }

    socket.on('response_back', function(image){
        console.log('hey')
        const image_id = document.getElementById('image');
        image_id.setAttribute('src', "data:image/jpg;base64," + _arrayBufferToBase64(image));
        console.log(image_id)
        // console.log(arrayBufferToBase64(image))
    });

    </script>
</body>
</html> 