<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <style>
        body {
            margin: 0;
        }
        .heading{
            text-align: center;
        }
        .form {
            display: flex;
            margin-top: 20%;;
        }
        form{
            margin: auto;
            display: flex;
            flex-flow: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Detect In Images</h1>
        </div>
        <div class="form">
            <form action="/image" method="post" enctype="multipart/form-data">
                <input type="file" name="images" accept="image/jpg">
                <button>Send</button>
            </form>
        </div>
    </div>
</body>
</html>